@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.attribution {
  text-align: center;
  background-color: #c5e4e7;
}

body {
  font-family: "Space Mono", monospace;
}

.main-section {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c5e4e7;
}

.card {
  width: 920px;
  height: 481px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border-radius: 10px;
}

.splitter {
  position: absolute;
  width: 86.66px;
  height: 53.14px;
  left: 670px;
  top: 50px;
  color: #00494d;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.bill-side {
  width: 80%;
  height: 388px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bill-side .bill {
  width: 90%;
  height: 80px;
  margin-bottom: 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
}

.bill-side .bill .bill-label {
  font-size: 16px;
  font-family: Space Mono;
  font-style: Bold;
  line-height: 24px;
  margin-left: 10px;
  margin-bottom: 5px;
  color: #5e7a7d;
}

.bill-side .bill .bill-input {
  border: 2px solid black;
  width: 379px;
  height: 48px;
  background-color: #c5e4e7;
  color: #00494d;
  font-size: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  text-align: right;
  cursor: pointer;
  -moz-appearance: textfield;
}

.bill-side .bill .bill-input:hover {
  border: 2px solid #26c0ab;
}

.bill-side .tips {
  width: 90%;
  height: 100%;
  max-width: 379px;
  max-height: 152px;
  margin: 30px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bill-side .tips .tips-header {
  margin-bottom: 5px;
  color: #5e7a7d;
  font-family: Space Mono;
  font-style: Bold;
  font-size: 16px;
  line-height: 24px;
}

.bill-side .tips .tips-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.bill-side .tips .tips-container .tip {
  width: 117px;
  height: 48px;
  background-color: #00494d;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}

.bill-side .tips .tips-container .tip.active {
  background-color: #26c0ab;
}

.bill-side .tips .custom {
  width: 117px;
  height: 48px;
  text-align: center;
  background-color: #f4fafa;
  border-radius: 5px;
  cursor: pointer;
}

.bill-side .tips .custom .custom-tips {
  width: 118px;
  height: 48px;
  text-align: center;
  background-color: #f4fafa;
  color: #00494d;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bill-side .tips .custom .custom-tips:hover {
  border: 2px solid #26c0ab;
}

.total-side {
  width: 80%;
  height: 100%;
  max-width: 413px;
  max-height: 417px;
  margin-right: 20px;
  background-color: #00494d;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.total-side .tip-amount {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 20px;
}

.total-side .tip-amount .tips-text-amount {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.total-side .tip-amount .tips-text-span {
  color: #7f9c9f;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
}

.total-side .tip-amount .tips-span {
  color: #26c0ab;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 71px;
}

.total-side .person {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.total-side .person .person-text-total {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.total-side .person .person-text-span {
  color: #7f9c9f;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
}

.total-side .person .person-span {
  color: #26c0ab;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 71px;
}

.total-side .reset {
  width: 80%;
  height: 100%;
  max-width: 333px;
  max-height: 48px;
  margin: auto;
  background-color: #26c0ab;
  color: #00494d;
  border: none;
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  cursor: pointer;
}

.people {
  width: 90%;
  height: 100%;
  max-height: 80px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.people .error {
  position: absolute;
  left: 520px;
  color: #e17457;
  opacity: 0;
}

.people .error.active {
  opacity: 1;
}

.people .people-label {
  font-size: 16px;
  font-family: Space Mono;
  font-style: Bold;
  line-height: 24px;
  margin-bottom: 5px;
  color: #5e7a7d;
}

.people .people-input {
  width: 379px;
  height: 48px;
  background-color: #c5e4e7;
  color: #00494d;
  font-size: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  text-align: right;
  cursor: pointer;
  -moz-appearance: textfield;
}

.people .people-input:hover {
  border: 2px solid #e17052;
}

@media (max-width: 375px) {
  .card {
    width: 100%;
    height: 100%;
    max-height: 830px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 150px;
    padding: 0 30px;
  }
  .splitter {
    top: 60px;
    left: 150px;
  }
  .bill-side {
    width: 100%;
    height: 100%;
    min-width: 375px;
    max-height: 430px;
    padding-left: 15px;
  }
  .bill-side .bill-input {
    width: 311px !important;
    height: 48px;
  }
  .tips-container {
    width: 90%;
    height: 100%;
    max-width: 311px;
    max-height: 216px;
    -ms-grid-columns: 1fr 1fr !important;
        grid-template-columns: 1fr 1fr !important;
  }
  .people {
    margin-top: 30px;
  }
  .people .people-input {
    width: 311px !important;
    height: 48px;
  }
  .error {
    position: absolute;
    left: 210px !important;
  }
  .total-side {
    width: 100%;
    height: 100%;
    max-width: 327px;
    max-height: 290px;
    margin-left: 20px;
  }
  .reset {
    margin-bottom: 15px;
  }
}

@media (min-width: 500px) and (max-width: 1440px) {
  .splitter {
    top: 150px;
  }
}

@media (min-width: 1920px) {
  .splitter {
    top: 150px !important;
    left: 800px !important;
  }
}
/*# sourceMappingURL=main.css.map */